version: "3.8"

services:
  gitwatch:
    image: gitwatch:latest
    container_name: gitwatch
    restart: unless-stopped
    expose:
      - "8050"
    environment:
      - VIRTUAL_HOST=gitwatch.vishnupraksh.in
      - LETSENCRYPT_HOST=gitwatch.vishnupraksh.in
      - LETSENCRYPT_EMAIL=vishnucheppanam@gmail.com
      - GITWATCH_DATA_DIR=/data/gitwatch
      - GITWATCH_REPOS_PATH=/data/gitwatch/repos
    volumes:
      - /gitwatch:/data/gitwatch
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
